.photography-description {
    color: black;
    font-size: 52px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

h1 {
    font-size: 0.9em;
}
    
h2 {
    font-family: 'Times New Roman';
}    
